{% load static%}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">

{% comment %} 


{% for message in messages%}
<h5> {{message}}</h5>
{% endfor %}

<link href="{% static 'css/auth.css' %}" rel="stylesheet">

<div class= 'regis'>
    <form method= 'POST', action= 'registration'>
    {% csrf_token%}
    <h1> Sign up here</h1>
    <p>Get certified and add value to your profile</p><hr>
    <h4>Username: <input class= 'input' type="text" name="username" /> </h4>
    <h4>Email: <input class= 'input' type="email" name="email" /></h4>
    <h4>Password: <input class= 'input' type="password" name="password" /></h4>
    <h4>Password1: <input class= 'input' type="password" name="password1" /> </h4> 
    <input class='button' type="submit"/>
    </form>
</div>
 {% endcomment %}


  <form id="myform" method= 'POST', action= 'registration' >
    {% csrf_token %}
        <div id="error message"class="error-message">
            {% for message in messages%}
             <h5> {{message}}</h5>
                 {% endfor %}
        </div>
        
         <h1> Sign up here</h1>
    <p>Get certified and add value to your profile</p><hr>
    <h4>Username:  <input  type="text" id="inputField" placeholder="Enter Username" required> </h4>
    <h4>Email:  <input  type="text" id="inputField" placeholder="Enter Email Address" required></h4>
    <h4>Password:  <input  type="text" id="inputField" placeholder="Enter Password" required></h4>
    <h4>Password1:  <input  type="text" id="inputField" placeholder="Confirm Password" required> </h4> 
    <button onclick="validateInput()" type="submit">
        Save
    </button>
    <button onclick="validateInput()" type="submit">
       Homepage
    </button>
    </form>


<script src="auth.js"></script>