{% load static%}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">

  <form id="myform" method= 'POST', action= '{% url 'registration' %}' >
    {% csrf_token %}
        <div id="error message"class="error-message">
            {% for message in messages%}
             <h5> {{message}}</h5>
                 {% endfor %}
        </div>
        
         <h1> Sign up here</h1>
    <p>Get certified and add value to your profile</p><hr>
    <h4>Username:  <input  type="text" id="inputField" name='username' placeholder="Enter Username" required /> </h4>
    <h4>Email:  <input  type="text" id="inputField" name='email' placeholder="Enter Email Address" required /></h4>
    <h4>Password:  <input  type="text" id="inputField" name='password' placeholder="Enter Password" required /></h4>
    <h4>Password1:  <input  type="text" id="inputField" name='password1' placeholder="Confirm Password" required /></h4> 
    <button onclick="validateInput()" type="submit">
        Save
    </button>
   <a href='/'> <button  type="button">
       Homepage
    </button><a/>
    </form>


<script src="{% static 'auth.js' %}"></script>